.Employee{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    td{
        input{
            border: none;
            color: #704b4b;
            margin-left: 10px;
            padding: 5px 0px;
            border-radius: 5px;
            outline: none;
            background-color: transparent;
        }
    }

    .edit-delete-icons{
        .icons{
            margin: 5px;
            padding: 5px;
            cursor: pointer;
        }
    }
}