.Homepage{
    padding: 10px;

    .searchbox{
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            padding: 5px;
            width: 90%;
            outline: none;
            border: 1px solid rgba(0,0,0,0.2);;
        }
    }

    .table-div{
        display: flex;
        justify-content: center;
    }
    
    table{
        margin: 30px 0px;
        width: 80%;
        border-collapse: collapse;
        
        .table-head{
            text-align: left;
            border-bottom: 1px solid rgba(0,0,0,0.1);

            th{
                padding-left: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .pages-deletebtn{
        display: flex;
        justify-content: space-around;
        .btn-div{
            button{
                margin: 10px;
                background: rgb(236, 26, 26);
                padding: 10px;
                border: none;
                color: #fff;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
}